<div class="row">
    <div>
        <mat-form-field>
            <mat-label>Choose a start date</mat-label>
            <input matInput [matDatepicker]="pickerStart" [formControl]="startDate">
            <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
            <mat-datepicker #pickerStart></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Choose a end date</mat-label>
            <input matInput [matDatepicker]="pickerEnd" [formControl]="endDate">
            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
            <mat-datepicker #pickerEnd></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button (click)="click()">click</button>
        <button mat-raised-button (click)="findHours()">GO</button>
    </div>
    <div class="table">
        <br>
        <mat-form-field>
            <input matInput placeholder="Filter" (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
                <!-- start date -->
                <ng-container matColumnDef="start">
                    <th mat-header-cell *matHeaderCellDef> Start Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.start}} </td>
                    <td mat-footer-cell *matFooterCellDef> Hours Total </td>
                </ng-container>

                <!-- end date -->
                <ng-container matColumnDef="end">
                    <th mat-header-cell *matHeaderCellDef> End Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.end}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{total.toPrecision(4)}} </td>
                </ng-container>

                <!-- username -->
                <!-- <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> Username </th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container> -->

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row (click)="subjectPopup(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>