<div class="row">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="New Employee">
            <app-signup></app-signup>
        </mat-tab>
        <mat-tab label="Edit Employee">
            <div class="column column-7">
                <app-user-details></app-user-details>
            </div>
            <div class="column column-4">
                <app-img></app-img>
            </div>
        </mat-tab>
        <mat-tab label="View User Hours">
            <app-view-users></app-view-users>
        </mat-tab>
    </mat-tab-group>
</div>